export(IIS.FilterBy.ClientIP)
export(IIS.FilterBy.Date)
export(IIS.FilterBy.DateUTC)
export(IIS.FilterBy.Status)
export(IIS.FilterBy.TimeOfDay)
export(IIS.FilterBy.URIContains)
export(IIS.FilterBy.URINotContain)
export(IIS.FilterBy.URIContainsAny)
export(IIS.FilterBy.URINotContainAny)
export(IIS.GroupBy.Referer)
export(IIS.GroupBy.URI)
export(IIS.Merge)
export(read.IISLog)
export(read.IISLogs)
importFrom("utils", "read.csv", "read.table")